/* .btn1{
    width: 150px;
}
.table{
    margin-top: 100px;
} */
/* .container1{
    width: 360px;
    min-height: auto;
margin: 100px auto;
}
.card1{
    width: 350px;
    height: 50px;
    display: flex;
}
.inp1{
    width: 140px; 
    height: 45px;
}
.btn1{
    width: 100px;
    height: 45px;
}
.h5{
    margin-left: 30px;
}
.p{
    font-size: 20px;
    font-weight: bold;
    font-style: unset;
}
.p2{
    font-size: 20px;
    font-weight: bold;
    font-style: unset;
    margin-left: 140px;
    display: block;
} */